.header{
    position: relative;
    &__shoping{
        padding: 10px 0 10px 0;
        background-color: $first-color;
        div{
            text-align: center;
            font-weight: 200;
            font-size: 15px;
            line-height: 22px;
            color: #fff;
        }
    }
    &__menu{
        padding: 23px 0;
        nav{
            display: flex;
            justify-content: space-around;
            .hamburger{
                display: none;
            }
        }
    }
    &__list{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    &__link{
        margin-left: 24px;
        a{
            text-decoration: none;
            font-weight: 300;
            font-size: 15px;
            line-height: 22px;
        }
    }
    &__logo{
        width: 115px;
        height: 32px;
        img{
            width: 100%;
        }
    }
    &__icons{
        display: none;
    }
    &__menu-mobile{
        position: absolute;
        z-index: 2;
        display: none;
        left: -100%;
        transition: all 0.6s;
        width: 100%;
        background-color: #fff;
        &.active{
            left: 0;
            display: block; 
            transition: all 0.6s;
        }
    }
    &__list-mobile{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-top: 80px;
        text-align: center;
    }
    &__link-mobile{
        padding-bottom: 32px;
        a{
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            color: $first-color;
        }
    }
}