.perfect{
    padding: 80px 0 125px 0;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &-info{
            padding: 0 40px;
        }
        &-descr{
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            color: $second-color;
            margin-bottom: 15px;
        }
        &-divider{
            height: 1px;
            width: 100%;
            background-color: #EAEAEA;
            margin-top: 15px;
        }
    }
    &__h2{
        text-align: left;
        margin-bottom: 52px;
    }
}